<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aotain.serviceapi.server.dao.preinput.IdcInformationMapper">

    <resultMap type="com.aotain.cu.serviceapi.model.IdcInformation" id="IdcInformationMap">
        <id column="JYZID" property="jyzId"/>
        <result column="IDCID" property="idcId"/>
        <result column="IDCNAME" property="idcName"/>
        <result column="IDCADD" property="idcAddress"/>
        <result column="IDCZIP" property="idcZipCode"/>
        <result column="CORP" property="corporater"/>
        <result column="OFFICER_NAME" property="officerName"/>
        <result column="OFFICER_IDTYPE" property="officerIdType"/>
        <result column="OFFICER_ID" property="officerId"/>
        <result column="OFFICER_TEL" property="officerTelephone"/>
        <result column="OFFICER_MOBILE" property="officerMobile"/>
        <result column="OFFICER_EMAIL" property="officerEmail"/>
        <result column="EC_NAME" property="ecName"/>
        <result column="EC_IDTYPE" property="ecIdType"/>
        <result column="EC_ID" property="ecId"/>
        <result column="EC_TEL" property="ecTelephone"/>
        <result column="EC_MOBILE" property="ecMobile"/>
        <result column="EC_EMAIL" property="ecEmail"/>
        <result column="HOUSENUMBER" property="houseNum"/>
        <result column="CZLX" property="czlx"/>
        <result column="DEAL_FLAG" property="dealFlag"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="CREATE_USERID" property="createUserId"/>
        <result column="UPDATE_USERID" property="updateUserId"/>
        <result column="INFO_COMPLETE" property="infoComplete"/>
        <result column="DEL_FLAG" property="delFlag"/>
        <result column="REPORT_TYPE" property="reportType"/>
        <result column="VERIFICATION_RESULT" property="verificationResult"/>
    </resultMap>
    <resultMap type="com.aotain.cu.serviceapi.dto.IDCInformationDTO" id="IDCInformationDTOMap">
        <id column="JYZID" property="jyzId"/>
        <result column="IDCID" property="idcId"/>
        <result column="IDCNAME" property="idcName"/>
        <result column="IDCADD" property="idcAddress"/>
        <result column="IDCZIP" property="idcZipCode"/>
        <result column="CORP" property="corporater"/>
        <result column="OFFICER_NAME" property="officerName"/>
        <result column="OFFICER_IDTYPE" property="officerIdType"/>
        <result column="OFFICER_ID" property="officerId"/>
        <result column="OFFICER_TEL" property="officerTelephone"/>
        <result column="OFFICER_MOBILE" property="officerMobile"/>
        <result column="OFFICER_EMAIL" property="officerEmail"/>
        <result column="EC_NAME" property="ecName"/>
        <result column="EC_IDTYPE" property="ecIdType"/>
        <result column="EC_ID" property="ecId"/>
        <result column="EC_TEL" property="ecTelephone"/>
        <result column="EC_MOBILE" property="ecMobile"/>
        <result column="EC_EMAIL" property="ecEmail"/>
        <result column="HOUSENUMBER" property="houseNum"/>
        <result column="CZLX" property="czlx"/>
        <result column="DEAL_FLAG" property="dealFlag"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="CREATE_USERID" property="createUserId"/>
        <result column="UPDATE_USERID" property="updateUserId"/>
        <result column="INFO_COMPLETE" property="infoComplete"/>
        <result column="DEL_FLAG" property="delFlag"/>
        <result column="REPORT_TYPE" property="reportType"/>
        <result column="VERIFICATION_RESULT" property="verificationResult"/>
    </resultMap>

    <select id="findByJyzId"  resultMap="IDCInformationDTOMap">
        select * from IDC_ISMS_BASE_IDC
        WHERE JYZID = #{jyzId}
    </select>

    <select id="findByProviderName"  resultMap="IDCInformationDTOMap" parameterType="com.aotain.cu.serviceapi.model.IdcInformation">
        select * from IDC_ISMS_BASE_IDC
        WHERE IDCNAME = #{idcName}
    </select>

    <select id="findByIdcId" resultMap="IDCInformationDTOMap" parameterType="com.aotain.cu.serviceapi.model.IdcInformation">
        select * from IDC_ISMS_BASE_IDC
        WHERE IDCID = #{idcId}
        <if test="jyzId!=null">
            AND JYZID != #{jyzId}
        </if>
    </select>

    <select id="findByIdcName" resultMap="IDCInformationDTOMap" parameterType="com.aotain.cu.serviceapi.model.IdcInformation">
        select * from IDC_ISMS_BASE_IDC
        WHERE IDCNAME = #{idcName}
        <if test="jyzId!=null">
            AND JYZID != #{jyzId}
        </if>
    </select>

    <select id="getData"  resultMap="IdcInformationMap" parameterType="com.aotain.cu.serviceapi.model.IdcInformation">
        select * from IDC_ISMS_BASE_IDC WHERE JYZID = #{jyzId}
    </select>

    <select id="getList"  resultMap="IdcInformationMap" parameterType="com.aotain.cu.serviceapi.model.IdcInformation">
        select * from IDC_ISMS_BASE_IDC
    </select>

    <insert id="insertData" parameterType="com.aotain.cu.serviceapi.model.IdcInformation">
        INSERT INTO IDC_ISMS_BASE_IDC
        <trim prefix="(" suffix=")" suffixOverrides=",">
            jyzId,
            <if test="idcId != null">
                idcid,
            </if>
            <if test="idcName != null">
                idcname,
            </if>
            <if test="idcAddress != null">
                idcadd,
            </if>
            <if test="idcZipCode != null">
                idczip,
            </if>
            <if test="corporater != null">
                corp,
            </if>
            <if test="officerName != null">
                officer_name,
            </if>
            <if test="officerIdType != null">
                officer_idtype,
            </if>
            <if test="officerId != null">
                officer_id,
            </if>
            <if test="officerTelephone != null">
                officer_tel,
            </if>
            <if test="officerMobile != null">
                officer_mobile,
            </if>
            <if test="officerEmail != null">
                officer_email,
            </if>
            <if test="ecName != null">
                ec_name,
            </if>
            <if test="ecIdType != null">
                ec_idtype,
            </if>
            <if test="ecId != null">
                ec_id,
            </if>
            <if test="ecTelephone != null">
                ec_tel,
            </if>
            <if test="ecMobile != null">
                ec_mobile,
            </if>
            <if test="ecEmail != null">
                ec_email,
            </if>
                create_time,
                update_time,
            <if test="createUserId != null">
                CREATE_USERID,
            </if>
            <if test="updateUserId != null">
                UPDATE_USERID,
            </if>
            <if test="czlx != null">
                CZLX,
            </if>
            <if test="dealFlag != null">
                DEAL_FLAG,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{jyzId},
            <if test="idcId != null">
                #{idcId},
            </if>
            <if test="idcName != null">
                #{idcName},
            </if>
            <if test="idcAddress != null">
                #{idcAddress},
            </if>
            <if test="idcZipCode != null">
                #{idcZipCode},
            </if>
            <if test="corporater != null">
                #{corporater},
            </if>
            <if test="officerName != null">
                #{officerName},
            </if>
            <if test="officerIdType != null">
                #{officerIdType},
            </if>
            <if test="officerId != null">
                #{officerId},
            </if>
            <if test="officerTelephone != null">
                #{officerTelephone},
            </if>
            <if test="officerMobile != null">
                #{officerMobile},
            </if>
            <if test="officerEmail != null">
                #{officerEmail},
            </if>
            <if test="ecName != null">
                #{ecName},
            </if>
            <if test="ecIdType != null">
                #{ecIdType},
            </if>
            <if test="ecId != null">
                #{ecId},
            </if>
            <if test="ecTelephone != null">
                #{ecTelephone},
            </if>
            <if test="ecMobile != null">
                #{ecMobile},
            </if>
            <if test="ecEmail != null">
                #{ecEmail},
            </if>
            sysdate,
            sysdate,
            <if test="createUserId != null">
                #{createUserId},
            </if>
            <if test="updateUserId != null">
                #{updateUserId},
            </if>
            <if test="czlx != null">
                #{czlx},
            </if>
            <if test="dealFlag != null">
                #{dealFlag},
            </if>
        </trim>
    </insert>

    <update id="updateData" parameterType="com.aotain.cu.serviceapi.model.IdcInformation">
        update IDC_ISMS_BASE_IDC
        <set>
            <if test="idcId != null">
                idcid = #{idcId},
            </if>
            <if test="idcName != null">
                idcname = #{idcName},
            </if>
            <if test="idcAddress != null">
                idcadd = #{idcAddress},
            </if>
            <if test="idcZipCode != null">
                idczip = #{idcZipCode},
            </if>
            <if test="corporater != null">
                corp = #{corporater},
            </if>
            <if test="officerName != null">
                officer_name = #{officerName},
            </if>
            <if test="officerIdType != null">
                officer_idtype = #{officerIdType},
            </if>
            <if test="officerId != null">
                officer_id = #{officerId},
            </if>
            <if test="officerTelephone != null">
                officer_tel = #{officerTelephone},
            </if>
            <if test="officerMobile != null">
                officer_mobile = #{officerMobile},
            </if>
            <if test="officerEmail != null">
                officer_email = #{officerEmail},
            </if>
            <if test="ecName != null">
                ec_name = #{ecName},
            </if>
            <if test="ecIdType != null">
                ec_idtype = #{ecIdType},
            </if>
            <if test="ecId != null">
                ec_id = #{ecId},
            </if>
            <if test="ecTelephone != null">
                ec_tel = #{ecTelephone},
            </if>
            <if test="ecMobile != null">
                ec_mobile = #{ecMobile},
            </if>
            <if test="ecEmail != null">
                ec_email = #{ecEmail},
            </if>
            update_time=sysdate,
            <if test="updateUserId != null">
                UPDATE_USERID = #{updateUserId},
            </if>
            <if test="czlx != null">
                CZLX=#{czlx},
            </if>
            <if test="dealFlag != null">
                DEAL_FLAG=#{dealFlag},
            </if>
            <if test="verificationResult != null">
                VERIFICATION_RESULT=#{verificationResult},
            </if>
        </set>
        WHERE jyzid = #{jyzId}
    </update>

    <delete id="deleteData" parameterType="com.aotain.cu.serviceapi.model.IdcInformation">
		delete from IDC_ISMS_BASE_IDC
		where jyzid = #{jyzId}
	</delete>
</mapper>